@charset 'utf-8';
@import 'highlight';

html {
    font-size: 17px;
}
@media (max-width: 900px) {
    html { font-size: 15px; }
}
@media (max-width: 400px) {
    html { font-size: 13px; }
}

.ui.padded.grid.header {
    background: url(image_path('binding_dark.png')) top left repeat-x;
    height: 175px;
    padding-top: 25px;
}

.column.row.footer {
    height: 200px;
    font-size: 0.8em;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "PT Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Titillium Web", sans-serif;
}

.ui.label {
    font-size: 0.75em;
}


// pretty up syntax

pre {
    font-family: "Consolas", "Ubuntu Mono", Monospace;
    font-size: 0.8em;
}

// highlight gutter

.gl {
  background: #333333;
  border-right: 1px solid #999;
  color: #999;

  /* Stop line numbers being visually selected */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
